@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white
}

.text2 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(255, 0, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    background-color: rgb(0,0,0)
}

.main {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
    font-family: Inter;
    margin: 0rem;
}
canvas{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.section {
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.defaultText {
    align-items: center;
    font-family: Inter;
    font-weight: 200;
    position: relative;
    color: rgb(255 255 255);
    font-size: 2rem;
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
    text-align: center;
}

.description {
    font-family: Inter;
    z-index: 1;
    font-weight: 700;
    position: fixed;
    color: rgb(255 255 255);
    font-size: 4rem;
    right: 15%;
    bottom: 40%;
    transform: translate(-15%, -50%);
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
}
.descriptiona {
    font-family: Inter;
    z-index: 1;
    font-weight: 700;
    position: fixed;
    color: rgb(255 255 255);
    font-size: 5rem;
    left: 15%;
    bottom: 50%;
    transform: translate(-15%, -25%);
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
}

.descriptionb {
    font-family: Inter;
    z-index: 1;
    font-weight: 700;
    position: fixed;
    color: rgb(255 255 255);
    font-size: 7rem;
    left: 27%;
    bottom: 50%;
    transform: translate(-25%);
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
}

.descriptionc {
    font-family: Inter;
    z-index: 1;
    font-weight: 700;
    position: fixed;
    color: rgb(255 255 255);
    font-size: 7rem;
    left: 35%;
    bottom: 50%;
    transform: translate(-25%);
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
}


.description2 {
    width: 45vw;
    font-family: Inter;
    z-index: 1;
    font-weight: 200;
    position: fixed;
    color: rgb(255 255 255);
    font-size: 2rem;
    left: 15%;
    bottom: 33%;
    transform: translate(-15%, -33%);
    background-color: rgb(0, 0, 0, 0.00);
    cursor: default;
}

.image {
    height: 50vw;
    width: 30vw;
}

.heading {
    font-family: Inter;
    font-weight: 800;
    position: static;
    color: rgb(255, 0, 255, 1);
    font-size: 5rem;
    text-align: center;
    cursor: pointer;
}


navbar {
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
}

header {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro{
    background: rgb(85, 0, 85);
    z-index: 1;
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    background: rgb(85, 0, 85);
    opacity: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateY(100%)
}

.text {
    color: rgb(255, 0, 255, 1);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 900;
    text-align: center;;
}

.hide {
    background: rgb(85, 0, 85);
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}


.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 374px;
}

.contain2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    margin-left: 15px;
    margin-right: 15px;
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 15px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 1em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

    button::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
    }

    button:hover {
        color: var(--btn-color);
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color), 0 0 4em 2em var(--glow-spread-color), inset 0 0 .75em .25em var(--glow-color);
    }

    button:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color), 0 0 2.5em 2em var(--glow-spread-color), inset 0 0 .5em .25em var(--glow-color);
    }

.card {
    width: 300px;
    height: 350px;
    position: relative;
    border-radius: 15px;
    background: rgb(61, 61, 61);
    transition: box-shadow .3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    overflow: hidden;
    cursor: pointer;
    margin-left: 7px;
    margin-right: 7px;
}

.card-img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(61, 61, 61);
}

.card-info {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card-icon {
    opacity: 0;
    transform: translateX(-20%);
    width: 2em;
    height: 2em;
    transition: all .3s ease-in-out;
}

.icon {
    fill: white;
    --size: 20px;
    width: var(--size);
    height: var(--size);
}

/*Text*/
.card-text p {
    line-height: 140%;
    /*Delete this line for multi-line text*/
    white-space: nowrap;
}

.text-title {
    font-weight: 900;
    font-size: 1.2rem;
    color: white;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4)
}

.text-subtitle {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

/*Hover*/
.card:hover {
    box-shadow: 0 10px 20px 4px rgba(35, 35, 35, .1);
}

    .card:hover .card-icon {
        opacity: 1;
        transform: translateX(20%);
    }


